body {
	background-color: #E9EBEE;
	font-family: sans-serif;
	font-size: small;
}


/*HEADER*/
	/*Style of anchor links*/
			header a {   
			    color: white; 
			    text-decoration: none;  
			}

			header a:active {
			    color: white;
			    text-decoration: none;  
			}

			header a[tabindex]:focus {
			    color:white;
			    outline: none;
			    text-decoration: none;  
	}
	/*End of Style of anchor links*/
/* SELECTOR WEIGHT: a new background color will apply. bobdy and header are on the same level, but I defined the background color for header after i designed the background color for body*/
		header {
			background-color: #3b5998;
			height: 60px;
			width: 100%;
			position: fixed;
			color: white;
			font-family: sans-serif;
			font-size: small;
			top: 0px;
			left: 0px;
			right: 0px;
			box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
		}

		header * {
			position: fixed;
		}

		#fb_logo {
			margin-left: 4%;
			top:0px;

		/*	z-index: 101;*/
		}

		#search_bar {
			height:27px;
			width: 35%;
			margin-left: 8%;
			top: 18px; 
			padding-left: 10px;
		/*	z-index: 101;
		*/}

		#user {
			margin-left: 50%;
			top: 0px;
		}
		#startseite {
			margin-left: 56%;
			top: 25px;
		}

		#fb_buttons {
			margin-left: 65%;
			top:0;
		}

/*END HEADER*/

/*NAV LEFT_BAR*/

	/*Style of anchor links*/
			nav a {   
			    color: black; 
			    text-decoration: none;  
			}

			nav a:active {
			    color: black;
			    text-decoration: none;  
			}

			nav a[tabindex]:focus {
			    color:black;
			    outline: none;
			    text-decoration: none;  
	}

			nav a:hover{
				background-color: #f7f8f9;
			}
	/*End of Style of anchor links*/
		nav {
			position: fixed;
/*			float: left;
*/			height: 100%;
			width: 200px;
			/*border: 1px solid;*/
			margin-top: 50px;
			padding-left: 50px;
			padding-top: 20px;
			clear: both;
			left: 0;
		}
		nav img {
			height: 13px;
		}

		#img_user {
			height: 100px;
		}
/*END OF NAV BAR LEFT SIDE*/

/*START OF MAIN*/


main {
	position: static;
/*	background-color: black;
*/	margin-left: 245px;
	z-index: -10;
	height: 100%;
	left: 20px;
}

/*#space {
	width: 500px;
	height: 300px;
	background-color: white;
	position: static;
	margin-left: 10px;
	margin-top: 60px;
	left: 0;
	top: 0;
	z-index: -100;	
}*/
article {
	width: 500px;
	height: 330px;
	background-color: white;
	position: static;
	margin-left: 50px;
	margin-top: 40px;
	left: 0;
	top: 0;
	z-index: -100;
	padding: 10px 10px 10px 10px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

} 

	/*header_article*/
		.header_article p {
			padding-bottom: 5px;

		}


		.header_article h3 {
			padding-top: 5px;
		}

		.header_article h3::first-letter {
			font-size: large;
		}

		.header_article img {
			height: 50px;
			position: static;
			float: left;
			margin-right: 5px;
		}



		/*Style of anchor links*/
			.header_article a {   
			    color: darkblue; 
			    text-decoration: none;  
			}

			.header_article a:active {
			    color: darkblue;
			    text-decoration: none;  
			}

			.header_article a[tabindex]:focus {
			    color:darkblue;
			    outline: none;
			    text-decoration: none;  
			}


	/*End of Style of anchor links*/
	/*end of header_article*/

/*END OF MAIN*/

